ion-content {
    --ion-background-color: transparent;
    background-image: url(/assets/img/bg.jpg) !important;
    --ion-padding: 20px;
}

ion-button {
    --background: #062f77;
    text-transform: uppercase;
}
