ion-content {
    --ion-padding: 0px;
    --offset-bottom:0px !important;
}
ion-toolbar {
    --ion-toolbar-background:#DB541E;
    color:#fff !important;
}
ion-title {
    --ion-toolbar-background:#DB541E;
    color:#fff !important;
    font-size: 1em;
    --ion-padding: 0px;
    padding-left:0px;
}
ion-menu-button {
    color:#fff !important;
}
ion-content hr{
    background-color:#e3e3e3;
}


ion-footer, ion-tabs {
    z-index: 99;
    height: 57px;
    bottom:0;
    top:unset;
}

ion-tab-button {
    --padding-top: 0;
--padding-end: 0px;
--padding-bottom: 0;
--padding-start: 0px;
font-family:Barlow;
font-size:11px;
font-weight: normal;
}
ion-tab-button .ativo {
    color:#DB541E !important;
}

.map {
    width: 100%;
    height: 235px;
  }
.outros-dados-do-passeio .linha-detalhes {
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 15px !important;
    font-family: Barlow !important;
    line-height: 32px !important;
}
.graficos {
    box-shadow: 0px 0px 0px !important;
    margin-bottom: 24px;
    padding-top: 20px;
    border: 0 !important;
}
.graficos .table th, .graficos .table td {
    padding: 0.63em 0 !important;
    vertical-align: top;
    border-top: 0px  !important;
    font-size: 15px !important;
    font-family: Barlow !important;
}
.graficos .table {
    font-size: 15px;
    margin-bottom: 0px;
    border: 0 !important;
}

ul { padding-left:0;}
ul li { list-style: none;}

nav ul {
    padding-left: 0px;
    margin-left: 0px;
}
nav ul li {
    list-style: none;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid #DEDEDE;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
}