
<!-- INICIAR MARCAÇÕES ALERTA DE ROUBO -->
<ion-content class="ion-text-center">
  <section class="iniciar-marcacoes" id="marcacoesAlertaRoubo" style="display: block; visibility: visible;">   
    <div class="fechar-marcacoes">
     <a href="javascript:void(0)" title="Cancelar"  (click)="close()">
        <img src="/assets/images/fechar.png" alt="cancelar">
     </a>
   </div>
   <h2>Alertas registrados</h2>
   <div class="row">
     <div class="col-12">
        <div class="caixa-branca">
          
          <div id="alertaRouboListaBikes">
            
         </div>
        </div>
     </div>
   </div>
  </section>
  </ion-content>
  <!-- INICIAR MARCAÇÕES ALERTA DE ROUBO -->